body{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header{
    background: #37488b;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#header #logo{
    width: 25px;
    vertical-align: middle;
}

#header #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.6em;
    padding-left: 1px;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#post{
    background: white;
    padding: 1em;
}

footer #footerdiv{
    margin: 0 auto;
    font-size: 9px;
    color: #ffffff;

}